* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom right, #fbc2eb, #a18cd1);
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.magic-frame {
    width: 100%;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    text-align: center;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 1s ease-in;
    border-radius: 0 50px 0 50px; /* Tylko po przekątnej */
    transform: scale(1.5);
}

.unicorn {
    width: 220px;
    position: absolute;
    top: -200px; /* Ustawione wyżej dla odstępu */
    left: 50%;
    transform: translateX(-50%);
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translate(-50%, 0); }
    50% { transform: translate(-50%, -10px); }
}

h2 {
    color: #6a097d;
    font-size: 2.5em;
    margin-bottom: 15px;
}

.smaller {
    font-size: 1.4em;
    font-style: italic;    /* Ustawia czcionkę kursywą */
}

.pulse {
    animation: pulse 4s infinite;
}

@keyframes pulse {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.05); }
}

input[type="text"] {
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    font-size: 1.2em;
    border: 2px solid #fcbf49;
    border-radius: 10px;
    outline: none;
    transition: border-color 0.3s ease; /* Dodaje płynne przejście */
}

input[type="text"]:focus {
    border-color: #6a097d; /* Zmiana koloru ramki przy fokuse */
}

button {
    margin-top: 20px;
    padding: 15px 30px;
    font-size: 1.2em;
    color: white;
    background-color: #ff6b6b;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Dodaje płynne przejście dla cienia */
}

button:hover {
    background-color: #ff4757;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Dodaje cień podczas hover */
}

.hidden {
    display: none;
}


.audio-controls button {
    margin: 0 10px;
    padding: 15px; /* Większe padding dla lepszego kliknięcia */
    font-size: 1.5em;
    color: white;
    background-color: #6a097d; /* Fioletowy kolor przycisku */
    border: none;
    border-radius: 5px; /* Kwadratowe przyciski z zaokrąglonymi rogami */
    width: 60px; /* Szerokość */
    height: 60px; /* Wysokość */
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.audio-controls button:hover {
    background-color: #a18cd1; /* Jaśniejszy fiolet po najechaniu */
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.audio-controls button:focus {
    outline: none; /* Usunięcie konturu */
}

#message a {
    color: #a7024f; /* Kolor tekstu linku */
    text-decoration: none; /* Usunięcie podkreślenia */
    font-size: 1.5em; /* Rozmiar czcionki */
    transition: color 0.3s ease; /* Płynne przejście koloru */
}
/* Styl po najechaniu kursorem */
#message a:hover {
    color: #ff4757; /* Kolor po najechaniu */
}
/* Styl po kliknięciu */
#message a:active {
    color: #a18cd1; /* Kolor podczas kliknięcia */
}


@media (max-width: 600px) {
    .magic-frame {
        width: 100%; /* Pełna szerokość na małych ekranach */
        padding: 20px; /* Zmniejszenie paddingu, jeśli potrzebne */
    }

    .container {
        width: 100%; /* Pełna szerokość kontenera na małych ekranach */
    }

    h2 {
        font-size: 2em; /* Zmniejsza rozmiar czcionki dla mniejszych ekranów */
    }

    button {
        padding: 12px 24px; /* Dostosowuje padding przycisku */
    }

    input[type="text"] {
        font-size: 1em; /* Zmniejsza czcionkę w polu tekstowym */
    }
}
